:root {
  color: $color-text;
  background: $color-background;
  font-size: $font-size;
  line-height: $line-height;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", sans-serif, Arial;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
  width: 100vw;
}

a {
  color: $color-high-text;
  text-decoration: none;
}
.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
