@import url("//at.alicdn.com/t/font_1842003_lgmpf2l7uu.css");
.iconfont {
  font-size: 20px;
}

:root {
  color: $color-text;
  background: $color-background;
  font-size: $font-size;
  line-height: $line-height;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", sans-serif, Arial;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: $color-high-text;
  text-decoration: none;
}
.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.6 !important;
  box-shadow: 0 1px 4px rgba(#000, 0.3);
}
.swiper-pagination-bullet-active {
  background-color: $color-tint !important;
}
img {
  display: block;
  width: 100%;
}
